@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

/* default text color */
body {
  color: white;
  background-image: url("../public/images/arcadieBackGround.png");
  background-repeat: repeat-y;
  background-size: 100% auto;
}